<div
  class="w-full h-36 rounded-md overflow-hidden shadow-lg transition-transform hover:scale-105 duration-300 flex"
>
  <div
    class="w-[75%] flex items-center justify-center bg-white/10 backdrop-blur-md text-white"
  >
    <div class="text-3xl font-bold">{{ value }}</div>
  </div>
  <div
    class="w-[25%] flex flex-col justify-between p-4 text-white bg-gradient-to-r from-[#171717] to-[#595b5a]"
    [ngClass]="color"
  >
    <div class="flex justify-between items-center">
      <i class="{{ icon }} text-2xl"></i>
      <span class="text-sm uppercase tracking-wide font-semibold">
        {{ title }}
      </span>
    </div>
  </div>
</div>
