<div class="flex">
  <main class="flex-1 p-4">
    <div class="flex flex-wrap gap-12 pb-5">
      <div class="w-[50%] flex flex-col">
        <div class="flex flex-row pb-5">
          <div class="group cursor-pointer animate-fade-up h-[30%]">
            <div class="relative w-72 h-80">
              <div
                class="absolute top-0 left-5 w-[180px] h-full transform skew-x-[15deg] bg-gradient-to-br from-[#171717] to-[#a7aaa8] z-0 transition-all duration-500 group-hover:skew-x-0 group-hover:left-3 group-hover:shadow-[0_0_40px_10px_rgba(255,255,255,0.2)]"
              ></div>
              <div
                class="absolute top-6 left-6 z-10 w-[260px] h-[260px] p-5 bg-white/10 backdrop-blur-md text-white shadow-xl transition-all duration-300 group-hover:scale-105 rounded-lg"
              >
                <h2 class="text-xl font-bold mb-3">Manage Users</h2>
                <p class="text-sm leading-relaxed">
                  View and manage users, roles, and statuses.
                </p>
                <div
                  class="inline-block mt-4 px-4 py-2 bg-white text-gray-900 text-sm font-bold rounded hover:bg-black hover:text-white transition"
                  routerLink="/users"
                >
                  Go to Users
                </div>
              </div>
            </div>
          </div>

          <div
            role="button"
            tabindex="0"
            class="group cursor-pointer animate-fade-up h-[30%]"
            [routerLink]="'/products'"
          >
            <div class="relative w-72 h-80">
              <div
                class="absolute top-0 left-5 w-[180px] h-full transform skew-x-[15deg] bg-gradient-to-br from-[#3f423f] to-[#a7aaa8] z-0 transition-all duration-500 group-hover:skew-x-0 group-hover:left-3 group-hover:shadow-[0_0_40px_10px_rgba(255,255,255,0.2)]"
              ></div>
              <div
                class="absolute top-6 left-6 z-10 w-[260px] h-[260px] p-5 bg-white/10 backdrop-blur-md text-white shadow-xl transition-all duration-300 group-hover:scale-105 rounded-lg"
              >
                <h2 class="text-xl font-bold mb-3">Manage Products</h2>
                <p class="text-sm leading-relaxed">
                  Update product info, manage stock and availability.
                </p>
                <div
                  class="inline-block mt-4 px-4 py-2 bg-white text-gray-900 text-sm font-bold rounded hover:bg-black hover:text-white transition"
                  routerLink="/products"
                >
                  Go to Products
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-earn-growth-component
          [percentage]="15.7"
          [earnings]="'$12,380'"
        ></app-earn-growth-component>
      </div>
      <div class="flex flex-col items-end w-[45%] space-y-6">
        <div
          class="w-full bg-white/10 backdrop-blur-md p-4 rounded-xl shadow-lg overflow-visible"
        >
          <h2 class="text-xl font-bold text-white pb-10">
            Most Selling Product
          </h2>
          <div class="grid grid-cols-1 gap-4">
            <app-product-card
              [name]="topProducts[0].name"
              [price]="topProducts[0].price"
              [imageUrl]="topProducts[0].imageUrl"
            ></app-product-card>
          </div>
        </div>

        <div class="w-full">
          <app-users-joined-today></app-users-joined-today>
        </div>
      </div>
    </div>

    <div class="flex gap-6 pt-8 w-full">
      <app-statistic
        title="Users"
        value="24"
        icon="fas fa-users"
        color="from-[#171717] to-[#595b5a]"
        class="flex-1"
      ></app-statistic>

      <app-statistic
        title="Products"
        value="12"
        icon="fas fa-box"
        color="from-[#3f423f] to-[#595b5a]"
        class="flex-1"
      ></app-statistic>

      <app-statistic
        title="Revenue"
        value="$9,230"
        icon="fas fa-dollar-sign"
        color="from-[#171717] to-[#595b5a]"
        class="flex-1"
      ></app-statistic>
    </div>
  </main>
</div>
